description = """
Test of 'all finished' exit

Suite will exit once all jobs are in either 'succeeded' or 'failed' states.  If
any job is not in the 'succeeded' state Cylc will return a non-zero exit code
"""

[cylc]
    exit when = all finished

[scheduling]
    [[dependencies]]
        graph = "a => b"

[runtime]
    [[a]]
        script = true
    [[b]]
        script = true
