#!Jinja2

[cylc]
    shutdown = {{ environ['EXIT_WHEN'] }}
    [[event hooks]]
        timeout = PT5S
        abort on timeout = true

[scheduling]
    [[dependencies]]
        graph = """
            a => b
            c
        """

[runtime]
    [[a]]
        script = {{ environ['A_SCRIPT'] | default('true') }}
    [[b]]
        script = {{ environ['B_SCRIPT'] | default('true') }}
    [[c]]
        script = true
